body {
	background: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	float: left;
	height: 175px;
	width: 30%;
	margin: 1.66%;
	background: purple;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

h1 {
	color: white;
	font-weight: normal;
	text-align: center;
	line-height: 1.1;
	padding: 20px 0;
	background: steelblue;
	text-transform: uppercase;
	margin: 0;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	background: steelblue;
	color: white;
}

#hdrtxt {
	font-size: 200%;
}

.selected {
	background: steelblue;
	color: white;
}

#pane {
	text-align: center;
	background: white;
	height: 30px;
}

#feedback {
	display: inline-block;
	width: 20%;
}